In [1]:
import pandas as pd

In [2]:
%run webscrapping_creating_df_Dong.ipynb
%run api_and_webscraping_sam.ipynb

In [3]:
award_df = df
award_df

,Title,Runtime,Genre,Awards,imdbRating,imdbVotes,imdbID,Type,totalSeasons
0,Planet Earth II,298 min,Documentary,Won 2 Primetime Emmys. Another 11 wins & 21 no...,9.5,"86,448",tt5491994,series,1
1,Planet Earth,538 min,Documentary,Won 4 Primetime Emmys. Another 11 wins & 15 no...,9.4,"158,749",tt0795176,series,1
2,Band of Brothers,594 min,"Action, Drama, History, War",Won 1 Golden Globe. Another 33 wins & 25 nomin...,9.5,"347,816",tt0185906,series,1
3,Breaking Bad,49 min,"Crime, Drama, Thriller",Won 2 Golden Globes. Another 151 wins & 234 no...,9.5,"1,325,388",tt0903747,series,5
4,Chernobyl,330 min,"Drama, History, Thriller",Won 2 Golden Globes. Another 50 wins & 40 nomi...,9.4,"429,873",tt7366338,series,1
...,...,...,...,...,...,...,...,...,...
245,Futurama,22 min,"Animation, Comedy, Sci-Fi",Won 6 Primetime Emmys. Another 24 wins & 56 no...,8.4,"205,001",tt0149460,series,7
246,Succession,60 min,Drama,Won 2 Golden Globes. Another 19 wins & 33 nomi...,8.5,"24,844",tt7660850,series,3
247,American Crime Story,42 min,"Biography, Crime, Drama",Won 4 Golden Globes. Another 93 wins & 117 nom...,8.4,"73,442",tt2788432,series,4
248,Delhi Crime,50 min,"Crime, Drama",2 wins.,8.5,"7,643",tt9398466,series,1
249,My Brilliant Friend,50 min,"Drama, Family, Romance",2 wins & 6 nominations.,8.5,"6,775",tt7278862,series,2

In [4]:
award_df.rename(columns={'imdbID':'imdb_id'}, inplace=True)

In [5]:
the_df = award_df.merge(net_show, how='left', on='imdb_id')

In [6]:
the_df.drop(['Genre','Runtime','Type','Title'], axis=1, inplace=True)

In [7]:
the_df.to_csv('show_data.csv')

In [8]:
pd.read_csv('show_data.csv',index_col=0)

,Awards,imdbRating,imdbVotes,imdb_id,totalSeasons,title,type,genre,runtime,rating,webChannel,network
0,Won 2 Primetime Emmys. Another 11 wins & 21 no...,9.5,"86,448",tt5491994,1.0,Planet Earth II,Documentary,['Nature'],60.0,9.7,False,BBC One
1,Won 4 Primetime Emmys. Another 11 wins & 15 no...,9.4,"158,749",tt0795176,1.0,Planet Earth,Documentary,['Nature'],60.0,9.4,False,BBC One
2,Won 1 Golden Globe. Another 33 wins & 25 nomin...,9.5,"347,816",tt0185906,1.0,Band of Brothers,Scripted,"['Drama', 'Action', 'War']",60.0,9.4,False,HBO
3,Won 2 Golden Globes. Another 151 wins & 234 no...,9.5,"1,325,388",tt0903747,5.0,Breaking Bad,Scripted,"['Drama', 'Crime', 'Thriller']",60.0,9.3,Netflix,AMC
4,Won 2 Golden Globes. Another 50 wins & 40 nomi...,9.4,"429,873",tt7366338,1.0,Chernobyl,Scripted,"['Drama', 'History']",60.0,9.1,False,HBO
...,...,...,...,...,...,...,...,...,...,...,...,...
245,Won 6 Primetime Emmys. Another 24 wins & 56 no...,8.4,"205,001",tt0149460,7.0,Futurama,Animation,"['Comedy', 'Adventure', 'Science-Fiction']",30.0,9.0,False,Comedy Central
246,Won 2 Golden Globes. Another 19 wins & 33 nomi...,8.5,"24,844",tt7660850,3.0,Succession,Scripted,"['Drama', 'Family']",60.0,6.8,False,HBO
247,Won 4 Golden Globes. Another 93 wins & 117 nom...,8.4,"73,442",tt2788432,4.0,American Crime Story,Scripted,"['Drama', 'Crime']",60.0,7.3,False,FX
248,2 wins.,8.5,"7,643",tt9398466,1.0,Delhi Crime,Scripted,"['Drama', 'Crime']",50.0,NaN,Netflix,False
249,2 wins & 6 nominations.,8.5,"6,775",tt7278862,2.0,My Brilliant Friend,Scripted,['Drama'],60.0,7.4,False,Rai 1