In [1]:
import pandas as pd

In [2]:
%run webscrapping_creating_df_Dong.ipynb

In [3]:
%run api_and_webscraping_sam.ipynb

In [4]:
award_df = df
# award_df

In [5]:
award_df.rename(columns={'imdbID':'imdb_id'}, inplace=True)

In [6]:
the_df = award_df.merge(net_show, how='left', on='imdb_id')

In [7]:
the_df.drop(['Genre','Runtime','Type','Title'], axis=1, inplace=True)

In [8]:
award = the_df.Awards

In [9]:
# creating new column to represent amount of awards won/nominated per show
def splitting_award(sentence_list):
    new_list = []
    for sentence in sentence_list.fillna(0):
        sub_list = []
        if sentence != 0:
            for word in sentence.split():
                if word.isdigit():
                    sub_list.append(int(word))
        new_list.append(sum(sub_list))
    return new_list

In [10]:
awards_divided = splitting_award(award)
# awards_divided

In [11]:
the_df['award_exposure'] = awards_divided

In [12]:
the_df

,Awards,imdbRating,imdbVotes,imdb_id,totalSeasons,title,type,genre,runtime,rating,webChannel,network,award_exposure
0,Won 2 Primetime Emmys. Another 11 wins & 21 no...,9.5,"86,448",tt5491994,1,Planet Earth II,Documentary,[Nature],60.0,9.7,False,BBC One,34
1,Won 4 Primetime Emmys. Another 11 wins & 15 no...,9.4,"158,749",tt0795176,1,Planet Earth,Documentary,[Nature],60.0,9.4,False,BBC One,30
2,Won 1 Golden Globe. Another 33 wins & 25 nomin...,9.5,"347,816",tt0185906,1,Band of Brothers,Scripted,"[Drama, Action, War]",60.0,9.4,False,HBO,59
3,Won 2 Golden Globes. Another 151 wins & 234 no...,9.5,"1,325,388",tt0903747,5,Breaking Bad,Scripted,"[Drama, Crime, Thriller]",60.0,9.3,Netflix,AMC,387
4,Won 2 Golden Globes. Another 50 wins & 40 nomi...,9.4,"429,873",tt7366338,1,Chernobyl,Scripted,"[Drama, History]",60.0,9.1,False,HBO,92
...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,N/A,8.4,"35,759",tt0103584,5,X-Men,Animation,"[Children, Science-Fiction]",30.0,8.2,False,FOX,0
246,Won 6 Primetime Emmys. Another 24 wins & 56 no...,8.4,"205,001",tt0149460,7,Futurama,Animation,"[Comedy, Adventure, Science-Fiction]",30.0,9.0,False,Comedy Central,86
247,Won 2 Golden Globes. Another 19 wins & 33 nomi...,8.5,"24,844",tt7660850,3,Succession,Scripted,"[Drama, Family]",60.0,6.8,False,HBO,54
248,Won 4 Golden Globes. Another 93 wins & 117 nom...,8.4,"73,442",tt2788432,4,American Crime Story,Scripted,"[Drama, Crime]",60.0,7.3,False,FX,214
249,2 wins.,8.5,"7,643",tt9398466,1,Delhi Crime,Scripted,"[Drama, Crime]",50.0,NaN,Netflix,False,2

In [ ]:
# created dummy columns for each genre, which ticks a column if a show has that column
df_genre = pd.get_dummies(the_df['genre'].apply(pd.Series).stack()).sum(level=0)

In [ ]:
the_df = the_df.merge(df_genre, left_index=True, right_index=True)

In [ ]:
the_df.to_csv('show_data.csv')

In [ ]:
pd.read_csv('show_data.csv',index_col=0)